<h2>Form {{ task.id > 0? 'Update': 'Create'}} Task</h2>

<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
  <div>
    <input class="form-control my-2" placeholder="Title" name="Title" #name="ngModel" required [(ngModel)]="task.title">
  </div>
  <div>
    <input class="form-control my-2" placeholder="Description" #description="ngModel" name="description" required
      [(ngModel)]="task.description">
  </div>
  <div>
    <div *ngIf="task.id > 0; else crear">
      <select class="form-control my-2" name="status" #status="ngModel" required [(ngModel)]="task.status">
        <option value="PENDING">PENDING</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="DONE">DONE</option>
      </select>
    </div>

    <ng-template #crear>
      <select class="form-control my-2" name="status" #status="ngModel" required [(ngModel)]="task.status">
        <option value="PENDING">PENDING</option>
      </select>
    </ng-template>
  </div>
  <div>
    <button type="submit" [disabled]="!taskForm.form.valid" class="btn btn-primary my-2">
      {{ task.id > 0? 'Update': 'Create'}}
    </button>
  </div>
</form>